In [1]:
import numpy as np
import pandas as pd

In [5]:
url = 'https://voteview.com/static/data/out/members/H119_members.csv'
ideology = pd.read_csv(url)
ideology.head(3)

cols_to_keep = ['bioname', 'chamber', 'nominate_dim1', 'party_code']
crosswalk_cols = ['bioname', 'state_abbrev', 'district_code', 'icpsr', 'bioguide_id']

crosswalk = ideology[crosswalk_cols]
ideology = ideology[cols_to_keep]

In [6]:
ideology['party_code'].value_counts()

party_code
200    224
100    219
Name: count, dtype: int64

In [11]:
replace_map = {200: 'Republican', 
               100: 'Democrat'}

ideology['party'] = ideology['party_code'].replace(replace_map)
ideology['party'].value_counts()

party
Republican    224
Democrat      219
Name: count, dtype: int64

In [ ]:
ideology = ideology.drop(['party_code'], axis=1) # drop a column instead of row
ideology = ideology.rename({'nominate_dim1': 'left_right_ideology'}, axis=1)
ideology

                 bioname chamber  left_right_ideology       party
0    ROGERS, Mike Dennis   House                0.378  Republican
1          SEWELL, Terri   House               -0.399    Democrat
2     PALMER, Gary James   House                0.674  Republican
3           MOORE, Barry   House                0.643  Republican
4           STRONG, Dale   House                0.606  Republican
..                   ...     ...                  ...         ...
438   TIFFANY, Thomas P.   House                0.639  Republican
439    FITZGERALD, Scott   House                0.599  Republican
440   VAN ORDEN, Derrick   House                0.380  Republican
441           WIED, Tony   House                0.481  Republican
442     HAGEMAN, Harriet   House                0.650  Republican

[443 rows x 4 columns]

In [13]:
ideology.sort_values('left_right_ideology', ascending=False)
ideology

                 bioname chamber  left_right_ideology       party
0    ROGERS, Mike Dennis   House                0.378  Republican
1          SEWELL, Terri   House               -0.399    Democrat
2     PALMER, Gary James   House                0.674  Republican
3           MOORE, Barry   House                0.643  Republican
4           STRONG, Dale   House                0.606  Republican
..                   ...     ...                  ...         ...
438   TIFFANY, Thomas P.   House                0.639  Republican
439    FITZGERALD, Scott   House                0.599  Republican
440   VAN ORDEN, Derrick   House                0.380  Republican
441           WIED, Tony   House                0.481  Republican
442     HAGEMAN, Harriet   House                0.650  Republican

[443 rows x 4 columns]

In [ ]:
ideology_crosswalk = pd.merge(ideology, crosswalk, on='bioname')
ideology_crosswalk.query("state_abbrev=='VA' & district_code==5")

,bioname,chamber,left_right_ideology,party,state_abbrev,district_code,icpsr,bioguide_id
417,"MCGUIRE, John J., III",House,0.681,Republican,VA,5,22539,M001239